<p><sup>*</sup>unless you've held <strong>&pound;{{amount}}</strong> in savings for six months,
which would take you an estimated <strong>{{wait}}</strong> to save. <sup>(est. &pound;{{salary}} annual salary)</sup></p>
<!-- <p><sup>*</sup>Lorem ipsum dolor sit <strong>&pound;{{amount}}</strong>, consectetur adipiscing elit,
praeposìtum esse dicis? Etenim semper <strong>{{wait}}</strong>, quod arte.</p> -->
