<p>If you are a {{gender}} {{#if part_time}}part-time {{/if}}{{job}} in {{city}} and your {{partner_title}}
is from {{other_country}}, can {{partner_pronoun}} live with you in the UK?</p>
<!-- <p>Lorem ipsum dolor sit amet, consectetur {{city}} elit. Itaque his {{gender}}
semper vacabit. Non minor, inquit, voluptas percipitur {{job}} rebus </p> -->
